.mavial{
	font-family: Papyrus, fantasy;
	font-size: 50px;
	width: 340px;
	height: 100px;
	position: center;
	margin:0 auto;
	margin-bottom: 30px;
	position:relative;
}
.estrellas{
	height: 10px;
	margin-bottom: 200px;
	position:absolute;
	left: 40px;
}

.listMenu{

	margin: 0 auto;
	font-weight: bold;
	font-family: Papyrus, fantasy;
	font-size: 50px;
	width: 1200px;
	height: 100px;
	font-size: 17px;
	margin-top: 60px;
}

ul#inline-block li{
	display:inline-block;
	margin: 0px 105px 0px 60px;
}

ul#inline-block li>a{
	text-decoration: none;
	color: black;
}
ul#inline-block li>a:hover {
	text-decoration: underline;

}

body {
	width: 80%;
	height: 800px;
	margin: 0 auto;
}


section.principal{

	width: 100%;
	height: 400px;
}
.imgcabezera{
	background-color:#aaf;
	margin: 20px auto;
	width: 90%;
	height: 100%;
}
.hotel5estrellascabezera{
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
	height: 400px;
}

.floatright {
	float: right;
	margin-top: 30px;
}

.boton1 {
    box-shadow: 3px 3px 3px 3px;
    margin: 20px;
    float: left;
    background-color: white;
    color: grey solid;
    width: 72px;
    height:20px;
}
.boton2 {
    box-shadow: 3px 3px 3px 3px;
    margin: 20px;
    float: left;
    background-color: white;
    color: grey solid;
    width: 72px;
    height:20px;
}
.boton3 {
    box-shadow: 3px 3px 3px 3px;
    margin: 20px;
    float: left;
    background-color:  white;
    color: grey solid;
    width: 72px;
    height:20px;
}

footer.general {
	width: 100%;
	height: 250px;
	background-color: #ffffff;
}

footer ul {
	list-style: none;
	float: left;
	text-align: center;
	font-size: 25px;
	color: #483d8b;
	margin-left: 140px;
}

em {
	color: #808080;
}
